<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvXgxc7Q7ue7_AHR8FopOf0DlrXubUcGI</string>
	<key>GCM_SENDER_ID</key>
	<string>112454016306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>irigation-monitor-app</string>
	<key>STORAGE_BUCKET</key>
	<string>irigation-monitor-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:112454016306:ios:8289913324ea1d76420b2b</string>
	<key>DATABASE_URL</key>
	<string>https://irigation-monitor-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>